.footer {
    @include flex(center);
    padding: 4rem 0;
    border-bottom: 1px solid rgba($color-white, 0.5);
    color: $color-white;
    @media only screen and (max-width: 992px) {
        flex-direction: column;
    }

    & h4 {
        padding-bottom: 1.3rem;
        color: $color-white;
        font-size: 1.5rem;
        border-bottom: 2px solid rgba($color-red2, 0.8);
    }
    //column1
    &__about {
        padding: 2rem;
        width: 40%;
        @media only screen and (max-width: 992px) {
            width: 100%;
        }
    }

    &__company {
        @include flex(space-evenly, center, column);
        height: 100%;
    }

    &__socials {
        @include flex(space-evenly);
        width: 100%;

        @media only screen and (max-width: 576px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__social-link {
        @include flex(center, center);
        width: 12rem;
        border-radius: 30px;
        padding: 3px;
        margin: .5rem;
        color: $color-white;
        transition: 0.2s;

        &:hover {
            color: $color-gray2;
        }

        &--purple {
            background-image: $purple-gradient2;
            & > svg {
                background-color: $color-red3;
            }
        }

        &--red {
            background-color: $color-red2;
            & > svg {
                background-color: $color-white;
            }
        }

        &--blue {
            background-color: $color-blue5;
            & > svg {
                background-color: $color-white;
            }
        }

        & > svg {
            display: inline-flex;
            height: 3.5rem;
            width: 3.5rem;
            padding: 0.5rem;
            margin-left: 1rem;
            border-radius: 50%;
        }
    }
    //Column2
    &__link {
        padding: 2rem;
        width: 30%;
        @media only screen and (max-width: 992px) {
            width: 100%;
        }
    }

    &__links {
        @include flex(center, flex-start, column);
        padding-top: 1rem;

        & > a {
            color: $color-white;
            padding-top: 1.5rem;
            transition: 0.2s;
            &:hover {
                color: $color-red1;
            }
        }
    }
    //column3
    &__support {
        @include flex(space-between, false, column);
        padding: 2rem;
        width: 30%;
        @media only screen and (max-width: 992px) {
            width: 100%;
        }
    }

    &__hours {
        @include flex(space-evenly, false, column);
        height: 100%;
    }

    &__single-info {
        @include flex(flex-start, center);

        & > span {
            margin-left: 1.5rem;
            font-size: 3rem;
            color: $color-gray1;
            opacity: 0.6;
        }

        & > p {
            @include flex(center, center);
            width: 100%;
            & > span {
                margin-right: auto;
            }
        }
    }

    &__payment {
        @include flex(center, center);
        border-top: 1px solid $color-white;

        & > img {
            padding-top: 2rem;
        }
    }
}
