.btn {
    position: relative;
    padding: 1rem 2rem;
    margin: 1rem;
    font-size: 1.4rem;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 0 0 3px $color-gray3;
    overflow: hidden;
    transform: all 0.3s ease;

    &__swipe {
        color: $color-white;
        background-color: $color-orange2;

        & > span {
            position: relative;
            z-index: 1;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: $color-orange3;
            border-radius: 1rem;
            transform: scale(0, 1);
            transition: all 0.4s ease;
        }
        &:hover {
            color: $color-white;
            &::after {
                transform: scale(1, 1);
            }
        }
    }

    &__shape {
        color: $color-white;
        padding: 1.2rem 2rem 1.2rem 4rem;
        &--purple {
            background-color: $color-purple1;
        }
        &--blue {
            background-color: $color-blue3;
        }
        &--orange {
            background-color: $color-orange1;
        }
        
        &::before {
            content: "\f3c1";
            position: absolute;
            top: 1rem;
            left: 1rem;
            font-size: 2rem;
            transform: rotateY(-0.5turn);
            opacity: 0;
            transition: all .3s linear;
        }

        &::after {
            content: '\f023';
            position: absolute;
            top: 1rem;
            left: 1rem;
            font-size: 2rem;
            opacity: 1;
            transition: all .3s linear;
        }

        &:hover {
            color: $color-gray1;
            &::after {
                transform: rotateY(.5turn);
                opacity: 0;
            }
            &::before {
                transform: rotateY(0);
                opacity: 1;
            }
        }
    }

    &__ripple {       
        color: $color-white;

        & span {
            position: relative;
            z-index: 2;
        };

        &--blue {
            background-color: $color-blue5;
            &::before {
                background-color: $color-blue6;
            }
        }

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            width: 20rem;
            height: 20rem;
            border-radius: 50%;
            opacity: 1;
            transform: translate(-50%, -50%) scale(0);
        }

        &:active::before,
        &:focus::before {
            transform: translate(-50%, -50%) scale(1);
            opacity: 0;
            transition: opacity 1s ease, transform .8s ease;
        }
    }
}
