@keyframes typewriting {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
@keyframes typewriting-cursor {
    0% {
        border-left-color: transparent;
    }
    50% {
        border-left-color: $color-blue1;
    }
}

@keyframes rocket-moving {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50px);
    }
}

@keyframes burgermenu-color {
    from {
        background-color: $color-blue2;
    }
    to {
        background-color: $color-orange2;
    }
}

@keyframes stroke-dashoffset {
    to {
        opacity: 1;
        stroke-dashoffset: 0;        
    }
}

@keyframes success-scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }    
}

@keyframes fade-in {
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

//Plane
@keyframes plane-flying {
    20% {
        transform: scale(.8) rotate3d(0, 0, 1, -60deg);
        opacity: .8;
    }
    40% {
        transform: scale(.7) rotate3d(1, 1, 1, -80deg);
    }
    60% {
        transform: scale(.5) rotate3d(1, 1, 1, -90deg);
    }
    100% {        
        top: 0;
        right: 1rem;
        transform: scale(0) rotate3d(1, 1, 1, -110deg);
    }
}

@keyframes clouds-to-left-right {
    from {
        transform: translateX(-5%);
    }
    to {
        transform: translateX(5%);
    }
}

//Rocket
@keyframes rocket-launch {
    to {
        top: 4.3rem;
        right: 8rem;
        transform: rotate(-70deg);
    }
}
@keyframes rocket-transfer {
    0% {
        right: 8rem;
        transform: rotate(-70deg);
    }
    33% {
        transform: rotate(-70deg);
    }
    66% {
        transform: rotate(-20deg);
    }
    100% {
        right: 18rem;
        transform: rotate(-20deg);
    }
}
@keyframes clouds-to-bottom {
    from {
        transform: translateY(-94%);
    }
    to {
        transform: translateY(83%);
    }
}

//Paper plane
@keyframes paper-plane-flying {
    25% {
        top: 6rem;
        left: 16rem;
        transform: rotateZ(-80deg);
    }
    100% {
        top: -1rem;
        left: -3rem;
        transform: rotateZ(-90deg);
    }
}

//Mask video
@keyframes video-stroke {
    0% {
        stroke-dasharray: 0;
    }
    100% {
        stroke-dasharray: 9;
    }
}

//Ripple play button
@keyframes play-wave {    
    to {
        transform: scale(2);
        opacity: 0;
    }
}

//Accordion
@keyframes accordion-icon-move-in {
    from {
        top: -100px;
    }
    to {
        top: 0;
    }
}

@keyframes accordion-icon-move-out {
    from {
        top: 0;
    }
    to {
        top: 100px;
    }
}